<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更改密码</title>
</head>
<body>
<div>
    <form action="/studentChangePassword" method="post">
        <input type="password" name="originalPassword" placeholder="原密码"><br>
        <input type="password" name="newPassword" placeholder="新密码"><br>
        <input type="password" name="confirmNewPassword" placeholder="确认密码"><br>
        <input type="submit" value="提交">
    </form><br>
    <label th:utext="${differentPasswordMsg}" style="color: red"></label><!--标红也能用我真是佛了-->
</div>
</body>
</html>